<%= form_for @repository do |f| %>
  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

  <div class="field">
    <%= f.text_field :link, class: 'rep-field' %>
  </div>
  <div class="actions"><%= f.submit "Search", class: 'submit' %></div>
<% end %>